* {
  margin: 0;
  padding: 0; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  background: black; }

.pokedex {
  width: 1100px;
  max-width: 1100px;
  height: 700px;
  margin: auto; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 1100px;
  max-width: 1100px;
  height: 700px;
  background: url(../img/rainy_city.gif) no-repeat;
  background-size: cover;
  border: 2px solid #242424; }
  .container .screenBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 380px;
    margin: 0 0; }
    .container .screenBox .screenBg {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 386px;
      height: 640px;
      margin: 30px 0;
      background: url(../img/pokedexSmall.png) no-repeat;
      background-size: cover; }
  .container .pageTitles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-width: 550px;
    max-width: 550px;
    max-height: 550px;
    margin: 176px 0 0 0;
    padding: 0 0; }
    .container .pageTitles .boyPichu,
    .container .pageTitles .mainTitle {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: flex-end;
      min-width: 550px;
      max-width: 550px;
      background: rgba(0, 0, 0, 0.6);
      border: 1px solid #b50419; }
    .container .pageTitles .boyPichu {
      min-height: 330px;
      max-height: 330px;
      padding: 0 0;
      background: url(../img/backgroundDark.jpg) no-repeat;
      background-size: cover;
      border-bottom: none;
      border-top-right-radius: 16px;
      border-top-left-radius: 16px;
      overflow: hidden; }
      .container .pageTitles .boyPichu img {
        width: 360px;
        height: 530px;
        margin: 0 20px 0 305px; }
    .container .pageTitles .mainTitle {
      max-height: 130px;
      padding: 10px 0 2px 0;
      background-color: #b50419;
      border-top: none;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px; }
      .container .pageTitles .mainTitle h1 {
        width: 100%;
        max-height: 93px;
        margin: 0 auto;
        padding-left: 20px;
        color: white;
        font-family: "Dosis";
        font-size: 68px;
        font-weight: 600;
        text-align: center;
        letter-spacing: 26px;
        text-transform: uppercase;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.4), 0 0 6px rgba(0, 0, 0, 0.6), 0 0 4px rgba(0, 0, 0, 0.8); }

.welcome {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 356px;
  height: 640px;
  margin: 0 auto; }
  .welcome .welcomeText {
    width: 306px;
    max-width: 386px;
    margin: 0 0 12px 0;
    padding: 0 50px;
    color: #0f2350;
    font-family: "Dosis";
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px; }
  .welcome .topWelcome {
    text-transform: uppercase;
    font-weight: 500;
    animation: fastFadeIn 4s forwards; }
  .welcome .bottomWelcome {
    animation: slowFadeIn 6s forwards; }

.screen {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 356px;
  height: 580px;
  margin: 83px 0 0 5px;
  padding: 0 0; }
  .screen .buttonTop {
    flex-direction: row;
    justify-items: center;
    width: 110px;
    max-height: 50px;
    margin: 9px auto 2px auto;
    padding-left: 1px; }
    .screen .buttonTop .newButton {
      width: 110px;
      height: 47px;
      border: 1px solid rgba(96, 115, 156, 0.2);
      background: rgba(88, 126, 170, 0.6);
      border-top-right-radius: 55px;
      border-top-left-radius: 55px; }
      .screen .buttonTop .newButton p {
        margin-top: 1px;
        color: #2e5588;
        color: white;
        font-family: "Dosis";
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.6); }
      .screen .buttonTop .newButton:hover {
        background: rgba(29, 99, 46, 0.4); }
        .screen .buttonTop .newButton:hover p {
          color: #2e5588;
          text-shadow: 0 0 10px rgba(255, 255, 255, 0.6); }
  .screen .buttonBottom {
    flex-direction: row;
    justify-items: center;
    width: 110px;
    height: 60px;
    margin: 4px auto;
    padding-left: 1px; }
    .screen .buttonBottom .evoButton,
    .screen .buttonBottom .detailsButton,
    .screen .buttonBottom .noEvos {
      width: 110px;
      height: 47px;
      margin-top: -1px;
      border: 1px solid rgba(96, 115, 156, 0.2);
      background: rgba(96, 115, 156, 0.5);
      border-bottom-right-radius: 55px;
      border-bottom-left-radius: 55px; }
      .screen .buttonBottom .evoButton p,
      .screen .buttonBottom .detailsButton p,
      .screen .buttonBottom .noEvos p {
        margin-top: -18px;
        color: white;
        font-family: "Dosis";
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.6); }
      .screen .buttonBottom .evoButton:hover,
      .screen .buttonBottom .detailsButton:hover,
      .screen .buttonBottom .noEvos:hover {
        background: rgba(29, 99, 46, 0.4); }
        .screen .buttonBottom .evoButton:hover p,
        .screen .buttonBottom .detailsButton:hover p,
        .screen .buttonBottom .noEvos:hover p {
          color: #23426b;
          text-shadow: 0 0 10px rgba(255, 255, 255, 0.6); }
    .screen .buttonBottom .noEvos p {
      margin-top: -8px;
      text-transform: capitalize;
      line-height: 14px; }
    .screen .buttonBottom .noEvos:hover {
      background: rgba(96, 115, 156, 0.5); }
      .screen .buttonBottom .noEvos:hover p {
        color: white;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.6); }

.searchForm {
  margin: 66px auto 0 auto; }
  .searchForm .input {
    width: 200px;
    height: 26px;
    margin: 0 auto;
    padding: 0 10px 2px 10px;
    color: #0f2350;
    font-family: "Dosis";
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 2px;
    border: 1px solid rgba(96, 115, 156, 0.2);
    border-top: none;
    background: rgba(96, 115, 156, 0.04);
    border-radius: 4px;
    box-shadow: inset 0 -3px 2px 1px rgba(124, 144, 187, 0.08); }
    .searchForm .input::placeholder {
      color: rgba(15, 35, 80, 0.66); }

.habitatBg {
  flex-direction: column;
  min-width: 354px;
  max-width: 354px;
  min-height: 353px;
  max-height: 353px;
  margin: 0 auto;
  padding: 0 0; }

.pokeBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-width: 302px;
  max-width: 302px;
  max-height: 312px;
  margin: 10px auto 0 auto;
  padding: 12px 0 6px 0;
  background: rgba(58, 67, 85, 0.7);
  border: 1px solid rgba(32, 45, 71, 0.6);
  border-top: none;
  border-radius: 4px;
  box-shadow: 0 -4px 4px 1px rgba(96, 115, 156, 0.06); }
  .pokeBox .info,
  .pokeBox .details,
  .pokeBox .evolutions {
    flex-direction: column;
    min-width: 280px;
    max-width: 280px; }
    .pokeBox .info .outputField,
    .pokeBox .details .outputField,
    .pokeBox .evolutions .outputField {
      display: flex;
      justify-content: center;
      margin: 0 auto 14px auto;
      padding: 2px 10px 4px 10px; }
      .pokeBox .info .outputField p,
      .pokeBox .details .outputField p,
      .pokeBox .evolutions .outputField p {
        color: #0f2350;
        font-family: "Dosis";
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px; }
  .pokeBox .info {
    max-height: 190px;
    padding: 0 0;
    background: rgba(177, 182, 192, 0.3);
    border: 1px solid rgba(32, 45, 71, 0.4);
    border-radius: 2px;
    box-shadow: 0 2px 2px 1px rgba(96, 115, 156, 0.06); }
    .pokeBox .info .images,
    .pokeBox .info .output_nameId {
      display: flex;
      flex-direction: row;
      min-width: 280px;
      max-width: 280px;
      padding: 0 0; }
    .pokeBox .info .images {
      justify-content: space-evenly;
      min-height: 115px;
      max-height: 115px; }
      .pokeBox .info .images .pokeImg,
      .pokeBox .info .images .pokeHabitat {
        min-width: 115px;
        max-width: 115px;
        min-height: 115px;
        max-height: 115px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 6px; }
    .pokeBox .info .output_nameId {
      justify-content: space-between;
      min-height: 28px;
      max-height: 28px;
      margin-top: -12px;
      padding: 0 0; }
      .pokeBox .info .output_nameId .pokeName,
      .pokeBox .info .output_nameId .pokeId {
        min-height: 28px;
        max-height: 28px;
        margin-top: -2px;
        padding: 0 18px;
        color: white;
        font-family: "Saira Semi Condensed";
        font-size: 19px;
        font-weight: 600;
        text-shadow: 0 0 2px black; }
      .pokeBox .info .output_nameId .pokeName {
        text-transform: capitalize; }
  .pokeBox .details {
    min-height: 180px;
    max-height: 180px;
    min-width: 302px;
    max-width: 302px;
    margin: 5px auto 0 auto; }
    .pokeBox .details .outputField {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: space-around;
      width: 280px;
      padding: 2px 0;
      background: rgba(177, 182, 192, 0.3);
      border: 1px solid rgba(32, 45, 71, 0.4);
      border-top: none;
      border-radius: 2px;
      box-shadow: 0 2px 2px 1px rgba(96, 115, 156, 0.06); }
    .pokeBox .details .specifics {
      margin: 4px auto; }
      .pokeBox .details .specifics .output_types {
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-width: 160px;
        padding: 1px 12px;
        margin-bottom: 2px; }
        .pokeBox .details .specifics .output_types .typesTitle {
          padding-top: 2px;
          color: white;
          font-size: 14px;
          font-weight: 400; }
        .pokeBox .details .specifics .output_types .pokeType {
          width: 80px;
          color: #0f2350;
          font-size: 16px;
          font-weight: 600;
          text-align: center; }
        .pokeBox .details .specifics .output_types .slash {
          font-size: 18px;
          font-weight: 700; }
      .pokeBox .details .specifics .output_h_w,
      .pokeBox .details .specifics .output_habitat {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        min-width: 280px;
        margin-bottom: 2px;
        padding: 0 0; }
        .pokeBox .details .specifics .output_h_w .output_h,
        .pokeBox .details .specifics .output_h_w .output_w,
        .pokeBox .details .specifics .output_h_w .habitat,
        .pokeBox .details .specifics .output_habitat .output_h,
        .pokeBox .details .specifics .output_habitat .output_w,
        .pokeBox .details .specifics .output_habitat .habitat {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 1px 14px 2px 14px; }
        .pokeBox .details .specifics .output_h_w .output_h,
        .pokeBox .details .specifics .output_h_w .output_w,
        .pokeBox .details .specifics .output_habitat .output_h,
        .pokeBox .details .specifics .output_habitat .output_w {
          max-width: 100px; }
        .pokeBox .details .specifics .output_h_w p,
        .pokeBox .details .specifics .output_habitat p {
          width: 50px;
          color: white;
          font-size: 14px;
          font-weight: 400;
          text-align: left; }
        .pokeBox .details .specifics .output_h_w .h_and_w,
        .pokeBox .details .specifics .output_h_w .hab,
        .pokeBox .details .specifics .output_habitat .h_and_w,
        .pokeBox .details .specifics .output_habitat .hab {
          width: 30px;
          color: #0f2350;
          font-size: 15px;
          font-weight: 700;
          text-align: right; }
        .pokeBox .details .specifics .output_h_w .habitat,
        .pokeBox .details .specifics .output_habitat .habitat {
          width: 200px; }
          .pokeBox .details .specifics .output_h_w .habitat p,
          .pokeBox .details .specifics .output_habitat .habitat p {
            width: 70px; }
    .pokeBox .details .moves {
      margin: 3px auto 0 auto; }
      .pokeBox .details .moves .movesTop,
      .pokeBox .details .moves .movesBottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 260px; }
      .pokeBox .details .moves .movesTop {
        margin: 0 0;
        padding: 0 0; }
        .pokeBox .details .moves .movesTop .movesTitle {
          padding: 0 12px;
          color: white;
          font-family: "Saira Semi Condensed";
          font-size: 16px;
          font-weight: 700;
          letter-spacing: 1px; }
      .pokeBox .details .moves .movesBottom {
        padding: 2px 0 0 0;
        border-top: 1px solid rgba(161, 164, 170, 0.6);
        border-radius: 10px;
        box-shadow: inset 0 2px 2px 1px rgba(96, 115, 156, 0.06); }
      .pokeBox .details .moves .movesLeft,
      .pokeBox .details .moves .movesRight {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 130px;
        padding-bottom: 2px; }
        .pokeBox .details .moves .movesLeft .outputMove,
        .pokeBox .details .moves .movesRight .outputMove {
          width: 120px;
          height: 20px;
          color: #0f2350;
          font-size: 15px;
          font-weight: 600;
          letter-spacing: 1px;
          text-align: center; }
  .pokeBox .evolutions {
    min-height: 170px;
    max-height: 170px;
    min-width: 280px;
    max-width: 280px;
    margin: 8px auto 4px auto;
    padding: 0 0;
    background: rgba(177, 182, 192, 0.3);
    border: 1px solid rgba(32, 45, 71, 0.4);
    border-radius: 2px;
    box-shadow: 0 2px 2px 1px rgba(96, 115, 156, 0.06); }
    .pokeBox .evolutions .evos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 290px;
      margin: 0 auto;
      padding: 0 0; }
      .pokeBox .evolutions .evos .evosTitleBox {
        min-width: 260px;
        max-width: 260px;
        margin: 0 auto; }
        .pokeBox .evolutions .evos .evosTitleBox .evosTitle {
          max-height: 75px;
          padding: 0 4px;
          color: #e4e4e4;
          font-family: "Saira Semi Condensed";
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 1px;
          text-align: center;
          text-shadow: 0 0 2px black; }
      .pokeBox .evolutions .evos .evosBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-height: 140px;
        min-width: 260px;
        max-width: 260px;
        margin: 2px auto 0 auto;
        padding: 4px 0 0 0;
        border-top: 1px solid rgba(161, 164, 170, 0.6);
        border-radius: 10px;
        box-shadow: inset 0 2px 2px 1px rgba(96, 115, 156, 0.06); }
        .pokeBox .evolutions .evos .evosBox .evo_One,
        .pokeBox .evolutions .evos .evosBox .evo_Two {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 120px;
          height: 130px; }
          .pokeBox .evolutions .evos .evosBox .evo_One .evoImg,
          .pokeBox .evolutions .evos .evosBox .evo_Two .evoImg {
            width: 100px;
            min-height: 100px;
            margin: -10px 0 0 0; }
          .pokeBox .evolutions .evos .evosBox .evo_One .evoNameBox,
          .pokeBox .evolutions .evos .evosBox .evo_One .evoIdBox,
          .pokeBox .evolutions .evos .evosBox .evo_Two .evoNameBox,
          .pokeBox .evolutions .evos .evosBox .evo_Two .evoIdBox {
            max-height: 36px; }
            .pokeBox .evolutions .evos .evosBox .evo_One .evoNameBox .evoName,
            .pokeBox .evolutions .evos .evosBox .evo_One .evoNameBox .evoId,
            .pokeBox .evolutions .evos .evosBox .evo_One .evoIdBox .evoName,
            .pokeBox .evolutions .evos .evosBox .evo_One .evoIdBox .evoId,
            .pokeBox .evolutions .evos .evosBox .evo_Two .evoNameBox .evoName,
            .pokeBox .evolutions .evos .evosBox .evo_Two .evoNameBox .evoId,
            .pokeBox .evolutions .evos .evosBox .evo_Two .evoIdBox .evoName,
            .pokeBox .evolutions .evos .evosBox .evo_Two .evoIdBox .evoId {
              color: white;
              font-family: "Saira Semi Condensed";
              padding: 0 12px;
              font-size: 16px;
              font-weight: 600;
              line-height: 21px;
              text-shadow: 0 0 2px black; }
          .pokeBox .evolutions .evos .evosBox .evo_One .evoNameBox,
          .pokeBox .evolutions .evos .evosBox .evo_Two .evoNameBox {
            margin-top: -8px; }
        .pokeBox .evolutions .evos .evosBox .lineBetween {
          min-width: 1px;
          max-width: 1px;
          height: 120px;
          margin-top: 8px;
          background: rgba(133, 143, 165, 0.5); }

.welcomeVisible {
  display: flex;
  animation: slowFadeOut 7s forwards; }

.welcomeHidden, .screenHidden, .formHidden, .bgHidden, .infoHidden,
.pokeImgHidden, .habitatHidden, .detailsHidden, .evolutionsHidden,
.textHidden, .buttonHidden, .noEvosHidden {
  display: none; }

.screenVisible, .formVisible, .bgVisible, .infoVisible,
.pokeImgVisible, .habitatVisible, .detailsVisible,
.evolutionsVisible, .textVisible, .buttonVisible {
  display: flex;
  animation: fastFadeIn 2s forwards; }

.noEvosVisible {
  display: flex;
  animation: slowFadeOut 5s forwards; }

@keyframes fastFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes slowFadeIn {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes slowFadeOut {
  0% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*# sourceMappingURL=stylesheet.css.map */
